variable "instance_count" {
    type = number
    default = 2
}

variable "passwords" {
    type = list(string)
    default = [
        "fish_are_friends_not_food",
        "fish_are_friends_not_food",
        "fish_are_friends_not_food",
        "fish_are_friends_not_food",
        "fish_are_friends_not_food",
        ]
}